.header {
  background-color: #90e703;
  border-top: 0.5px solid #000;
  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto;
}
.container{


}
